<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <style>
            * { font-family: 'Quicksand', sans-serif; }
            img { max-width: 100%; }
            .lead{
                font-weight: bold;
                font-style: italic;
            }
        </style>
        <title>{{ pageTitle }}</title> 
    </head>
    <body>
        {{> header }}
        {{> article }}
        {{> footer }}
    </body>
</html>
